body{
    display: flex;
    justify-content: space-between;
}
div{
    width: 30%;
    height: 80vh;
    background: blue;
}

body:hover div{
    filter: opacity(.5);
}

body div:hover{
    background: yellow ;
    filter: opacity(1);
}
