

body {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

section {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background: #FFB084;
    border-radius: 20px;
}

.info {
    background: white;
    width: 80%;
    /* height: 40vh; */
    border-radius: 20px;
    box-shadow: 7px 7px 0 black;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

p {
    text-align: left;
    padding-left: 8%;
    font-size: 12px;
    line-height: 200%;
}

.pronouns {
    margin-left: 7%;
}

.slogan {
    width: 80%;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 14px;
    font-weight: 700;
    

}

.info-slogan {
    width: 20%;
    height: 85vh;
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 150%;
}

.bio {
    width: 60%;
    height: 7vh;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 black;
    margin-top: 2%;
    padding: 2%;
    padding-bottom: 4%;
    line-height: 150%;

}
.cards {
    display: flex;

}

.goal {
    width: 70%;
     background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 #29A71E;
    padding: 8%;
   

}

.green {
    color: #29A71E;
}

.dream {
    margin-top: 8%;
    width: 70%;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 #3675B0;
    padding: 4% 10%;
    line-height: 150%;

}

.blue {
    color: #3675B0;
}

.blocks {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

.first-block {
    width: 30%;
}

.second-block {
    width: 50%;
}

.frust {
    width: 60%;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 #E13535;
    padding: 6%;
    line-height: 150%;
}

.red {
    color: #E13535;
}

.personal {
    margin-top: 6%;
    width: 60%;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 0 black;
    padding: 6%;
    line-height: 150%;

}