html {
    margin: 0;
    padding: 0;
    font-family: Rosario;
}



body {
    /* background: #E5E5E5; */
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background: black;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo img {
    height: 5rem;
}

.nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.nav a {
    text-decoration: none;
    color: #FFFCFC;
    font-weight: 700;
    font-size: 25px;
}

.nav li {
    list-style-type: none;
}

/* Section1 */

section {
    height: 100vh;
    margin-bottom: 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.cards-center {
    display: flex;
    flex-direction: column;
    
}

.card1-2 {
    display: flex;
    flex-direction: row;
   
}

.card3-4 {
    display: flex;
    flex-direction: row;
}

.card1 {
    width: 50%;
    margin-top: 3%;
    position: relative;
    animation: card1 2s 1;

      
}

.card1 img {
    width: 90%;
    height: 90%;
    align-items: center;
     padding: 0 5%;
}

@keyframes card1 {
    0% {
        top: 0;
        left: -100rem;
    }

    50% {
        top: 0;
        left: -50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.card2 {
    width: 50%;
    margin-top: 3%;
    position: relative;
    animation: card2 2s 1;
}

.card2 img {
    width: 90%;
    height: 90%;
}

@keyframes card2 {
    0% {
        top: 0;
        right: -100rem;
    }

    50% {
        top: 0;
        right: -50%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

.card3 { 
    width: 50%;
    position: relative;
    animation: card3 2s 1;

}

.card3 img {
    width: 90%;
    height: 90%;
    padding: 0 5%;
}

@keyframes card3 {
    0% {
        top: 0;
        left: -100rem;
    }

    50% {
        top: 0;
        left: -50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.card4 {
    width: 50%;
    position: relative;
    animation: card4 2s 1;
}

.card4 img {
    width: 90%;
    height: 90%;
}

@keyframes card4 {
    0% {
        top: 0;
        right: -100rem;
    }

    50% {
        top: 0;
        right: -50%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

.contain {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.card5 {
    width: 30%;
    position: relative;
    margin-top: 7%;
    animation: card5 4s 1;
    
}

.card5 img {
    width: 70%;
    /* height: 70%; */
    padding-left: 17%;
}

@keyframes card5 {
    0% {
        top: 0;
        left: -100rem;
    }

    70% {
        top: 0;
        left: -50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.card6 {
    width: 30%;
    position: relative;
    margin-top: 7%;
    animation: card6 4s 1;
   
}

.card6 img {
    width: 70%;
    /* height: 70%; */
    padding: 0 7%;
}

@keyframes card6 {
    0% {
        top: 0;
        right: -100rem;
    }

    70% {
        top: 0;
        right: -50%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

/* Section2 */

.contain2 {
    display: flex;
    justify-content: space-between;
    
}

.circles {
    width: 50%;
    height: 70%;
    margin-top: 6%;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
}

.circle_1-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.circle_3-4 {
    display: flex;
    justify-content: space-around;
}

.circle1 > img, .circle2 > img, .circle3 > img, .circle4 > img {
    width: 55%;
    height: 75%;
}

.circle1 {
    position: relative;
    animation: circle1 10s infinite;
}

@keyframes circle1 {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 17rem;
        left: 50%;

    }

    75% {
        top: 17rem;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.circle2 {
    position: relative;
    animation: circle2 10s infinite;
}

@keyframes circle2 {
    0% {
        top: 0;
        right: 0;
    }

    25% {
        top: 17rem;
        right: 0;
    }

    50% {
        top: 17rem;
        right: 50%;

    }

    75% {
        top: 0;
         right: 50%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

.circle4 {
    position: relative;
    animation: circle4 10s infinite;
}

@keyframes circle4 {
    0% {
        top: 0;
        right: 0;
    }

    25% {
        top: 0;
        right: 50%;
    }

    50% {
        top: -17rem;
        right: 50%;
    }

    75% {
        top: -17rem;
        right: 0;
    }

    100% {
        top: 0;
        right: 0;
    }
}

.circle3 {
    position: relative;
    animation: circle3 10s infinite;
}

@keyframes circle3 {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: -17rem;
        left: 0;
    }

    50% {
        top: -17rem;
        left: 50%;
    }

    75% {
        top: 0;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

/* Section3 */

.big-photo > img {
    width: 100%;
    height: 90%;
}

h1 {
    margin-top: 5%;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    margin-bottom: 5%;
}

.img {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meredith, .jason, .ryan, .james {
    width: 20%;
    height: 670px;
    background-size: 100%;
    /* height: 100vh; */
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}

.meredith {
    background-image: url(../img/expert1.png);

}

.jason {
    background-image: url(../img/expert2.png);

}

.ryan {
    background-image: url(../img/expert3.png);
}

.james {
    background-image: url(../img/expert4.png);
}


.meredith-name, .jason-name, .ryan-name, .james-name {
    position: absolute;
    bottom: 30%;
    height: 0;
    background-color: #A3530A;
    opacity: 0.7;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    border-radius: 40px;
    font-size: 38px;
    
}

.meredith:hover .meredith-name, .jason:hover .jason-name, .ryan:hover .ryan-name, .james:hover .james-name {
    height: 80px;
    overflow: visible;
    transition: all 1s;
}

/* ЗАТЕМНЕННЯ ПРИ НАВЕДЕННІ */

.img:hover div{
    filter: opacity(0.5);
    filter: brightness(.4);
}

.img div:hover {
    filter: opacity(1);
}

/* Анімація фото при наведенні */

/* .meredith:hover .meredith-name {
    position: relative;
    background: #A3530A;
    opacity: 0.5;
    width: 80%;
    border-radius: 22px;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    padding-bottom: 11%;
    padding-top: 11%;
    text-align: center;
    animation: anime 2s 1;
    filter: opacity(1);
  }  */

/* 
@keyframes meredith-name {
    0% {
        top: 0;
    
    }

    50% {
        top: -4rem;

    }

    100% {
        top: -8rem;
    }
} */


/* body:hover .james, body:hover .meredith, body:hover .jason, body:hover .ryan {
    filter:brightness(0.5)
} */

/* Section4 */

.table-map {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.table {
    width: 50%;
    height: 80vh;
    padding-left: 5%;
}

h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    text-align: center;
}

table {
    width: 100%;
    color: #9e9393;
    border: 20px solid #d7e2ff;
    text-align: left;
    font-size: 20px;

}

th {
    width: 50%;
    border: 10px solid #d7e2ff;
    padding: 1%;
}

input, textarea {
    border: none;
}

textarea {
    width: 98%;
    padding-left: 2%;
}

.map {
    margin-top: 5%;
    width: 60%;
    height: 80vh;
    padding-left: 10%;
    padding-top: 5%;
}

.contacts {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 2%;
    
}

.adress {
    margin-top: 1%;
    line-height: 150%;
    
}

.adress > a {
    text-transform: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
}

.schedule {
    line-height: 150%;

}

.social {
    line-height: 150%;
   
    
}

.social a {
    text-transform: none;
    text-decoration: none;
    color: black;
}

.insta, .fb, .twit {
    width: 15px;
    height: 15px;
}



